/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #00468B;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Tiles section */
.tiles {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    flex-wrap: wrap;
}

.tile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 220px;
}

.tile h2 {
    color: #00468B;
    margin-bottom: 15px;
}

.tile p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.btn {
    text-decoration: none;
    background-color: #00468B;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
}

.btn:hover {
    background-color: #003366;
}

/* Progress bars */
.skill {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #f4f4f9;
    border-radius: 10px;
    height: 25px;
    width: 100%;
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.1);
}

.progress {
    background-color: #00468B;
    height: 100%;
    border-radius: 10px;
}

/* Stats */
.stats {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 40px 0;
}

.stat {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat h3 {
    color: #00468B;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.stat p {
    font-size: 1.2em;
    color: #333;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

footer .social-icons a:hover img {
    filter: brightness(1) invert(0);
}
